<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MenuMapper">
	<resultMap type="com.zhao.entity.Menu" id="BaseResultMap">
		<id property="mid" column="mid" jdbcType="INTEGER"/>
		<result property="name" column="name" jdbcType="VARCHAR"/>
		<result property="url" column="url" jdbcType="VARCHAR"/>
		<result property="isshow" column="isshow" jdbcType="INTEGER"/>
		<result property="level" column="level" jdbcType="INTEGER"/>
		<result property="parentid" column="parentid" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 
		通过用户名查询一个用户，如果无参数传递，则不需要parameterType属性
		parameterMap表示需要在自定义一个parameterMap标签，当属性值为java.long.Map时表示传入多个参数
		resultMap表示返回多列数据，仅用于select语句
		resultType表示返回单列数据，仅用于select语句
	 -->
	<select id="loadMenu" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select m.* from userrole ur,menurole rm,menu m where 
			 ur.rid=rm.rid and rm.mid=m.mid and isshow=1 and ur.uid=#{uid}
	</select>
	
	
	
	
</mapper>