<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RoleMapper">
	<resultMap type="com.zhao.entity.Role" id="BaseResultMap">
		<id property="rid" column="rid" jdbcType="INTEGER"/>
		<result property="rname" column="rname" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 
		通过用户名查询一个用户，如果无参数传递，则不需要parameterType属性
		parameterMap表示需要在自定义一个parameterMap标签，当属性值为java.long.Map时表示传入多个参数
		resultMap表示返回多列数据，仅用于select语句
		resultType表示返回单列数据，仅用于select语句
	 -->
	<select id="showRole" resultMap="BaseResultMap">
		select * from role
	</select>
	
	<insert id="insert"></insert>
	
	<delete id="delete"></delete>
	
	<update id="update"></update>
	
	
	
	
	
	
	
	
</mapper>