<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>view/login.jsp</welcome-file>
  </welcome-file-list>
  <!--servlet配置1 -->
  <servlet>
      <servlet-name>contorll</servlet-name>
      <servlet-class>com.zhao.contorll.MainServlet</servlet-class>
  </servlet>
  <!--servlet映射1（mapping） -->
  <servlet-mapping>
      <servlet-name>contorll</servlet-name>
      <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
